code/wsdl/bookit.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://data.bookit.co.nz/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://data.bookit.co.nz/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set of custom webmethods to allow partner systems to retrieve product, rate and availability information</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://data.bookit.co.nz/">
      <s:element name="GetBusinessCode">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgentCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="BusinessName" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBusinessCodeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBusinessCodeResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBusinessBookingUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgentCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CategoryCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="BusinessCode" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBusinessBookingUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBusinessBookingUrlResult" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBusiness">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgentCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CategoryCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="BusinessCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DateIn" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DateOut" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DaysRequired" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBusinessResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBusinessResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComponentsInCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgentCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CategoryCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DateIn" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DateOut" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DaysRequired" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComponentsInCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetComponentsInCategoryResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBusinessesInCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgentCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CategoryCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DateIn" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DateOut" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="DaysRequired" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="MajorRegionCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="MinorRegionCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="PIMCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="MinPrice" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="MaxPrice" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="SortOrder" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetBusinessesInCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetBusinessesInCategoryResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComponent">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgentCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CategoryCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="SubComponentCode" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetComponentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetComponentResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPackage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgentCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CategoryCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="PackageCode" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPackageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPackageResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPackages">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgentCode" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPackagesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPackagesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPackagesInCategory">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AgentCode" type="s:string"/>
            <s:element minOccurs="0" maxOccurs="1" name="CategoryCode" type="s:string"/>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPackagesInCategoryResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPackagesInCategoryResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any/>
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetBusinessCodeSoapIn">
    <wsdl:part name="parameters" element="tns:GetBusinessCode"/>
  </wsdl:message>
  <wsdl:message name="GetBusinessCodeSoapOut">
    <wsdl:part name="parameters" element="tns:GetBusinessCodeResponse"/>
  </wsdl:message>
  <wsdl:message name="GetBusinessBookingUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetBusinessBookingUrl"/>
  </wsdl:message>
  <wsdl:message name="GetBusinessBookingUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetBusinessBookingUrlResponse"/>
  </wsdl:message>
  <wsdl:message name="GetBusinessSoapIn">
    <wsdl:part name="parameters" element="tns:GetBusiness"/>
  </wsdl:message>
  <wsdl:message name="GetBusinessSoapOut">
    <wsdl:part name="parameters" element="tns:GetBusinessResponse"/>
  </wsdl:message>
  <wsdl:message name="GetComponentsInCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetComponentsInCategory"/>
  </wsdl:message>
  <wsdl:message name="GetComponentsInCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetComponentsInCategoryResponse"/>
  </wsdl:message>
  <wsdl:message name="GetBusinessesInCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetBusinessesInCategory"/>
  </wsdl:message>
  <wsdl:message name="GetBusinessesInCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetBusinessesInCategoryResponse"/>
  </wsdl:message>
  <wsdl:message name="GetComponentSoapIn">
    <wsdl:part name="parameters" element="tns:GetComponent"/>
  </wsdl:message>
  <wsdl:message name="GetComponentSoapOut">
    <wsdl:part name="parameters" element="tns:GetComponentResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPackageSoapIn">
    <wsdl:part name="parameters" element="tns:GetPackage"/>
  </wsdl:message>
  <wsdl:message name="GetPackageSoapOut">
    <wsdl:part name="parameters" element="tns:GetPackageResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPackagesSoapIn">
    <wsdl:part name="parameters" element="tns:GetPackages"/>
  </wsdl:message>
  <wsdl:message name="GetPackagesSoapOut">
    <wsdl:part name="parameters" element="tns:GetPackagesResponse"/>
  </wsdl:message>
  <wsdl:message name="GetPackagesInCategorySoapIn">
    <wsdl:part name="parameters" element="tns:GetPackagesInCategory"/>
  </wsdl:message>
  <wsdl:message name="GetPackagesInCategorySoapOut">
    <wsdl:part name="parameters" element="tns:GetPackagesInCategoryResponse"/>
  </wsdl:message>
  <wsdl:portType name="CMSWSSoap">
    <wsdl:operation name="GetBusinessCode">
      <wsdl:input message="tns:GetBusinessCodeSoapIn"/>
      <wsdl:output message="tns:GetBusinessCodeSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessBookingUrl">
      <wsdl:input message="tns:GetBusinessBookingUrlSoapIn"/>
      <wsdl:output message="tns:GetBusinessBookingUrlSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetBusiness">
      <wsdl:input message="tns:GetBusinessSoapIn"/>
      <wsdl:output message="tns:GetBusinessSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetComponentsInCategory">
      <wsdl:input message="tns:GetComponentsInCategorySoapIn"/>
      <wsdl:output message="tns:GetComponentsInCategorySoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessesInCategory">
      <wsdl:input message="tns:GetBusinessesInCategorySoapIn"/>
      <wsdl:output message="tns:GetBusinessesInCategorySoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetComponent">
      <wsdl:input message="tns:GetComponentSoapIn"/>
      <wsdl:output message="tns:GetComponentSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetPackage">
      <wsdl:input message="tns:GetPackageSoapIn"/>
      <wsdl:output message="tns:GetPackageSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetPackages">
      <wsdl:input message="tns:GetPackagesSoapIn"/>
      <wsdl:output message="tns:GetPackagesSoapOut"/>
    </wsdl:operation>
    <wsdl:operation name="GetPackagesInCategory">
      <wsdl:input message="tns:GetPackagesInCategorySoapIn"/>
      <wsdl:output message="tns:GetPackagesInCategorySoapOut"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CMSWSSoap" type="tns:CMSWSSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetBusinessCode">
      <soap:operation soapAction="http://data.bookit.co.nz/GetBusinessCode" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessBookingUrl">
      <soap:operation soapAction="http://data.bookit.co.nz/GetBusinessBookingUrl" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusiness">
      <soap:operation soapAction="http://data.bookit.co.nz/GetBusiness" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComponentsInCategory">
      <soap:operation soapAction="http://data.bookit.co.nz/GetComponentsInCategory" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessesInCategory">
      <soap:operation soapAction="http://data.bookit.co.nz/GetBusinessesInCategory" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComponent">
      <soap:operation soapAction="http://data.bookit.co.nz/GetComponent" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackage">
      <soap:operation soapAction="http://data.bookit.co.nz/GetPackage" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackages">
      <soap:operation soapAction="http://data.bookit.co.nz/GetPackages" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackagesInCategory">
      <soap:operation soapAction="http://data.bookit.co.nz/GetPackagesInCategory" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CMSWSSoap12" type="tns:CMSWSSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="GetBusinessCode">
      <soap12:operation soapAction="http://data.bookit.co.nz/GetBusinessCode" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessBookingUrl">
      <soap12:operation soapAction="http://data.bookit.co.nz/GetBusinessBookingUrl" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusiness">
      <soap12:operation soapAction="http://data.bookit.co.nz/GetBusiness" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComponentsInCategory">
      <soap12:operation soapAction="http://data.bookit.co.nz/GetComponentsInCategory" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetBusinessesInCategory">
      <soap12:operation soapAction="http://data.bookit.co.nz/GetBusinessesInCategory" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetComponent">
      <soap12:operation soapAction="http://data.bookit.co.nz/GetComponent" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackage">
      <soap12:operation soapAction="http://data.bookit.co.nz/GetPackage" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackages">
      <soap12:operation soapAction="http://data.bookit.co.nz/GetPackages" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPackagesInCategory">
      <soap12:operation soapAction="http://data.bookit.co.nz/GetPackagesInCategory" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CMSWS">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set of custom webmethods to allow partner systems to retrieve product, rate and availability information</wsdl:documentation>
    <wsdl:port name="CMSWSSoap" binding="tns:CMSWSSoap">
      <soap:address location="http://data.bookit.co.nz/cms.asmx"/>
    </wsdl:port>
    <wsdl:port name="CMSWSSoap12" binding="tns:CMSWSSoap12">
      <soap12:address location="http://data.bookit.co.nz/cms.asmx"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>